/* IDs */
#comment {
  display: block;
  margin: 0 auto;
}

#submit {
  background: aqua;
  border-radius: 1rem;
  color: #fff;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem auto;
  padding: 2rem;
  width: 50%;
}

/* Classes */
.ufaq-faq-body {
  text-align: center;
}

.ufaq-faq-post, .comment-form-comment {
  font-size: 1.5rem;
  font-weight: bold;
}

.ufaq-faq-title-text {
  margin-top: 5rem;
}

.ufaq-faq-title-text h4 {
  color: #333;
  display: block;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

/* Media Queries */
@media only screen and ( min-width: 1024px )
{
  .ewd-ufaq-post-margin-symbol {
    position: relative;
    left: 35rem;
  }
}
